doctype html
head
  title Créer un schéma - L&eacute;gendons
  include includes/head.pug
  link(href="/assets/css/canvas.css" rel="stylesheet")
#wrapper
  include includes/navbar.pug
  #content-wrapper.d-flex.flex-column
    #content
      include includes/header.pug
      .container-fluid
        h3.text-dark.mb-1 Cr&eacute;er un sch&eacute;ma
        #form-group-upload
          label(for='import_image') Charger une image&nbsp;
          input#import_image.import_image(name='ajout' type='file' accept=".jpg,.png,.bmp,.jpeg")
        .row
          .col-3
            .form-group
              input.form-control(type="text" placeholder="Nom du schéma")
        #drawtools.row
          .col
            .btn-group(role="group")
              button.btn.btn-secondary.active(type="button")
                i.far.fa-comment-dots
              button.btn.btn-secondary(type="button")
                i.fas.fa-expand-arrows-alt
        #plateau.wrapper
          canvas#canvas(height='500' width='500')
        button#save.btn.btn-success(type='button') Enregistrer
    include includes/footer
  include includes/pagetop
include includes/scripts
script(src="/assets/js/schema_create.js")