doctype html
head
  title Créer un schéma - L&eacute;gendons
  include includes/head.pug
  link(href="/assets/css/schema_create.css" rel="stylesheet")
#wrapper
  include includes/navbar.pug
  #content-wrapper.d-flex.flex-column
    #content
      include includes/header.pug
      .container-fluid
        form#save
          h3.text-dark.mb-1 Cr&eacute;er un sch&eacute;ma
          #img_import
            label(for='import_image') Charger une image&nbsp;
            input#import_image.import_image(name='ajout' type='file' accept=".jpg,.png,.bmp,.jpeg" required)
          .row
            .col-3
              input#titre.form-control(type="text" placeholder="Nom du schéma" required maxlength="40")
            .col-3
              select(required)#matiere.form-control
                option(disabled selected value="") Choisir une matière
                each val in matieres
                  option(value=val.id_matiere) #{val.nom_matiere}
            .col-3
              select(required)#visibilite.form-control
                option(selected value="false") Privé
                option(value="true") Public
          .row
            #drawtoolsbuttons.col
              #drawtools.btn-group(role="group")
                button#legendesButton.btn.btn-secondary.active(type="button")
                  i.far.fa-comment-dots
                button.btn.btn-secondary(type="button")
                  i.fas.fa-expand-arrows-alt
              .btn-group(role="group")
                button#fakeButton.btn.btn-secondary(type="button")
                  i.fas.fa-question
          #plateau.wrapper
            canvas#canvas(height='500' width='500')
          button#buttonSave.btn.btn-success(type='submit') Enregistrer
    include includes/footer
  include includes/pagetop
include includes/scripts
script(src="/assets/js/schema_create.js")